<app-card>
    <h2>Log In as a Patient to the Chatbot</h2>
    <h3>User's name: </h3>
    <p>Maria Iosif</p>
    <h3>UserID: </h3>
    <p>Identity-MI-1111</p>
    <h3>Instructions</h3>
    <p>
        The chatbot is able to answer genaral questions for patient summary.
        <br><br>How to test the chatbot:
        <br><br>1) Copy the id provided (UserID)
        <br>2) Press on the chat icon at the right bottom corner of the page
        <br>3) Paste the id in the convarsation and press "Login"
        <br>4) Ask questions considering the medical history of the test user (e.x. What are my allergies?, Tell me my vaccination history.)
    </p>
</app-card>
