<app-card>
    <h2>Log In as a Patient to the Chatbot</h2>
    <h3>User's name: </h3>
    <p>Maria Iosif</p>
    <h3>UserID: </h3>
    <p>1234</p>
    <h3>Instructions</h3>
    <p>
        The chatbot is able to answer genaral questions for patient summary and NCPeH project.
        <br><br>How to test the chatbot:
        <br><br>1) Copy the id provided (UserID)
        <br>2) Press on the tab CareSnap
        <br>3) In the chat you can ask anything you want about the NCPeH project. For example "What is e-Prescription?"
        <br>4) If you want to access the Patient Summary of the user you have to "Login" from the button just above the chat.
        <br>4) Then you can ask questions considering the medical history of the test user (e.x. What are my allergies?, Tell me my vaccination history.)
    </p>
</app-card>
