<div class="header-content">
  <img class="CareSnapIcon" src="../../assets/CareSnap_icon.ico"/>
  <div class="title-section">
    <h1>CareSnap</h1>
    <p>An AI assistant for cross-border healthcare</p>
  </div>
  <br>
  <div class="logos">
    <img src="assets/University_of_Cyprus_logo.png" alt="University of Cyprus" class="logo" />
    <img src="assets/NEHA_logo.png" alt="National Health Authority" class="logo" />
    <img src="assets/MyHealth@EU_logo.png" alt="EU Logo" class="logo" />
  </div>
</div>
  