header {
  display: flex;
  height: 100px;
  width: 100%;
  margin: auto auto;
  background-color: #d7ebf4;
  padding: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  }

  .content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .text {
    display: flex;
    flex-direction: column;
  }
  
  img {
    width: 5rem;
    object-fit: contain;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    font-size: 1.2rem;
    text-wrap: balance;
  }
