<app-card>
    <h2>The NCPeH project</h2>
    <p> Every European citizen, regardless of his/her European country of residence or the duration of his/her stay, can now feel even safer in case of illness or urgent Health Care need.
        Through Electronic Cross Border Healthcare Services, European citizens can now reach Healthcare professionals in the area where they temporarily reside, knowing that they will be able to have access to their electronic prescriptions and Patient Summaries. These services are offered under the brand “MyHealthAtEU” and facilitate optimum response to EU cross border health emergencies that may arise.
        This side provides information on the Cross-Border healthcare services which are available within EU plus technical guidance to Healthcare professionals like Doctors and Pharmacists in preparing and exchanging medical information like Patient Summary records and medical Prescriptions to other EU countries when such a request is made by a patient.
    </p>

    <h2>Cross Border Services</h2>
    <h3>Overview</h3>
    <p>
        The European Directive 2011/24/EU on patients rights in cross-border healthcare sets out the conditions under which a patient may travel to another EU country to receive medical care and reimbursement. It also covers healthcare costs, prescription and delivery of medications and medical devices.
        According to the Directive, health information such as Patients Summary reports as well as Electronic Prescription records can be exchanged through the National Contact Point (NCPeH) of Cyprus to any another EU Country that supports Cross border services with the prior consensus of the affected patient.
    </p>
    <h3>NCPeH CY Consortium:</h3>
    <p>
        National Electronic Health Authority (NeHA) and University of Cyprus (UCY)
    </p>
    <p ></p>
</app-card>