h1{
    margin: 2rem;
}
.chat-container {
    margin: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat-footer {
    display: flex;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

.chat-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

ul{
    padding: 10px 10px;
    list-style-type: none;
}