h1{
    display: inline;
    margin: 2rem;
}

.chat-container {
    margin: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 400px;
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat-footer {
    display: flex;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

.chat-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

ul{
    padding: 10px 10px;
    list-style-type: none;
}

.loginButton {
    margin-left: 1rem;
    display: inline; /* Ensure the button is inline with the h1 */
    color: black; /* Text color for the button */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Adjust padding for button size */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.2rem; /* Increase font size */
    background: none; /* Remove background color */
    /* Ensure proper alignment */
    text-align: center; /* Center text within the button */
  }
  
  .loginButton:hover {
    background-color: #0056b3;
    color: white;
  }