/* Container for the header to align h1 and the login button */
.header-container {
    display: flex;
    justify-content: space-between; /* Pushes h1 to the left and button to the right */
    align-items: center; /* Vertically aligns h1 and button */
    margin: 2rem;
}

h1{
    margin: 0;
}

.chat-container {
    margin: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 400px;
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat-footer {
    display: flex;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

.chat-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

ul{
    padding: 10px 10px;
    list-style-type: none;
}

/* Styling for the login button */
.loginButton {
    display: flex;
    align-items: center; 
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    background: none;
    transition: background-color 0.3s, color 0.3s;
}
  
  .loginButton:hover {
    background-color: #0056b3;
    color: white;
  }

  .loading-indicator {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }
  