div {
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    border: none; /* Remove all borders */
    border-top: 2px solid #c1c1c1; /* Add only the bottom border */
    border-bottom: 2px solid #c1c1c1; /* Add only the bottom border */
}

@media screen and (max-width: 425px){
    div{
        width: 450px;
        height: 100%;
    }
}