  button {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjusted for better flexibility */
    padding: 0.75rem; /* Reduced padding for smaller screens */
    background-color: #35c2d7;
    color: #000;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem; /* Adjusted for smaller screens */
  }
  
  button:hover,
  button:active,
  .active {
    background-color: #3cebfa;
    color: #000000;
  }

  