main {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout by default */
  gap: 1rem;
  width: 100%;
  max-width: 90rem;
  margin: auto;
}

#menuBar {
  display: flex;
  flex-direction: column; /* Stack menu items vertically */
  list-style: none;
  padding: 0;
  gap: 1rem;
}

@media (min-width: 768px) {
  main {
      grid-template-columns: 20% 1fr; /* 20% for menu bar, 80% for content */
  }

  #menuBar {
      grid-column: 1; /* Menu bar in the first column */
  }

  .content-area {
    margin: 1rem;
    grid-column: 2; /* Content in the second column */
  }
}
