<app-card>
    <h2>What is CareSnap?</h2>
    <p>
        Chatbots have gained popularity in recent years, especially in the healthcare sector, due to their ability to improve patient engagement and satisfaction.
    </p>
    <p>
        We present the implementation of a chatbot assistant, the CareSnap, for a healthcare system that depicts patient summary based on the European guidelines. 
    </p>
    <p>
        The chatbot we created provides patients and doctors with useful information about the NCPeH project and its goals
        and if the user logs in it provides users with information regarding medical history, medications, allergies and vaccinations. 
    </p>
    <p>
        Our findings suggest that the chatbot is a useful tool that can improve patient engagement, reduce wait times and improve overall healthcare delivery.
    </p>
</app-card>
