<app-card>
    <h2>What is Patient Summary?</h2>
    <p> Patient Summaries provide information on important health related
        aspects such as allergies, current medication,previous illness, surgeries,
        etc. It is part of a larger collection of health data called an European
        Health Record whose implementation across Europe is planned at a
        later stage. The digital Patient Summary is meant to provide doctors with essential
        information in their own language concerning the patient, when the patient comes from
        another EU country and there may be a linguistic barrier. In the long term, medical
        images, lab results and hospital discharge reports will also be available across the EU,
        with the full health record to follow later on.
    </p>
    <h2>Example of a Patient Summary</h2>
    <div class="image_container">
        <img src="../../assets/Print1.jpg" alt="PS-Page1">
        <img src="../../assets/Print2.jpg" alt="PS-Page2">
        <img src="../../assets/Print3.jpg" alt="PS-Page3">
        <img src="../../assets/Print4.jpg" alt="PS-Page4">
    </div>
</app-card>
